
<div class="container">
    <div class="card shadow">

        <div class="card-body">
                   
            <div class="d-flex border-top border-bottom p-1 mb-3">
                <div class="me-auto p-2"><%= link_to ' Back', users_path, class: "fas fa-arrow-left text-decoration-none main_cl" %></div>
                    <div class="p-2">
                        <%= link_to "", edit_user_path(@user), class: "fas fa-edit text-decoration-none cl_green" %>
                        <%= link_to "", user_path(@user),
                            method: :delete,
                            data: { confirm: "Are you sure?" },  class: "fas fa-trash-alt text-decoration-non cl_red" %>
                    </div>
            </div>

            <p class="card-text">
                    <div><%= @user.username %> </div>

                <%= @user.email %>                
            </p>
        </div>
    </div>
</div>
